* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
.app-header {
    background-color: #333;
    color: white;
    gap: 50px;
    padding: 1.5rem;
    text-align: start;
    align-items: center;
    display: flex;
}

.nav-lnk {
    display: flex;
    color:#ffffff;
    gap: 25px;
    text-decoration: none;
}

.app-header .nav-lnk:hover {
    color: #336aff;
    transition: 0.3s ease-in-out;
}

/* layout */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #4aa0f1;
}

.content-wrapper {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


.glass-card {
    background: rgb(255, 217, 93);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.clock-container {
    text-align: center;
}

#time-display {
    font-size: 3rem;
    color: #333;
    margin-bottom: 0.5rem;
}

#date-display {
    color: #ffffff;
    font-weight: 500;
}

.task-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    color: #333;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.date-time-group {
    display: flex;
    gap: 10px;
}

#task-input, #date-input, #time-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

#task-input { flex: 2; }
#date-input, #time-input { flex: 1; font-size: 0.8rem; }

#add-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

#task-list { list-style: none; }

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
}

.task-details { display: flex; flex-direction: column; }
.due-date { font-size: 0.75rem; color: #777; margin-top: 3px; }

.delete-btn {
    background: #ff4757;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer */
.app-footer {
    background: #333;
    color: #ccc;
    text-align: start;
    padding: 1rem;
}
